
body{
  font-family: "Montserrat", sans-serif;
}
.gallery {
  max-width: 1128px;
  width: 100%;
  display: flex;
  gap: 24px;
  list-style-type: none;
  box-sizing: border-box;
  padding: 0px;
  margin: 0 auto;
}

.gallery__item:hover {
  transform: scale(1.04);
}

.gallery__item {
  transition: .2s;
  width: calc((100% - 48px) / 3);
}

.gallery__image,
.gallery__link {
  width: 100%;
}

.gallery {
  flex-wrap: wrap;
}

/* FORM */
.feedback-form {
  max-width: 360px;
  display: flex;
  flex-direction: column;
}

.feedback-form label {
  display: flex;
  flex-direction: column;
}
input, textarea{
  margin: 4px 0px;
  border-radius: 4px;
  padding: 5px;
  box-shadow: none;
  border: 1px solid black;
}
button{
  padding: 8px 16px;
  border-radius: 5px;
  background-color: #4E75FF;
  width: fit-content;
  color: white;
  border: none;
  box-shadow: none;
  font-size: 16px;
  margin-top: 10px;
}